<!DOCTYPE html>
<html xmlns:wb="http://open.weibo.com/wb">
  <head>
    <meta charset="utf-8" />
    <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}</title>
    <meta name="author" content="yujl" />
    <meta name="renderer" content="webkit">
    <meta name="description" content="yujl's Blog" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
	<meta property="wb:webmaster" content="7ba3362360574181" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="alternate" type="application/atom+xml" title="Recent Entries" href="{{ site.feed }}" />
    <style>{% include style.css %}</style>
	<script src="http://tjs.sjs.sinajs.cn/open/api/js/wb.js" type="text/javascript" charset="utf-8"></script>
  </head>

  {{ content }}
</html>
